In [7]:
import pandas as pd

In [8]:
df_orders         = pd.read_csv('../data/olist_orders_dataset.csv')
df_customers      = pd.read_csv('../data/olist_customers_dataset.csv')
df_items          = pd.read_csv('../data/olist_order_items_dataset.csv')
df_payments       = pd.read_csv('../data/olist_order_payments_dataset.csv')
df_reviews        = pd.read_csv('../data/olist_order_reviews_dataset.csv')
df_products       = pd.read_csv('../data/olist_products_dataset.csv')
df_prod_cat_tr    = pd.read_csv('../data/product_category_name_translation.csv')
df_sellers        = pd.read_csv('../data/olist_sellers_dataset.csv')
df_geo            = pd.read_csv('../data/olist_geolocation_dataset.csv')

In [9]:
def initial_look_data(df):
    display(df.head(10))
    display(df.info())
    display(df.describe())
    print("\nMissing Values (Null):")
    display(df.isna().sum())
    print("\nDuplicate Data:")
    display(df.duplicated().sum())

In [10]:
initial_look_data(df_orders)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

Missing Values (Null):

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Duplicate Data:

0

In [11]:
initial_look_data(df_items)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

None

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

Missing Values (Null):

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Duplicate Data:

0

In [14]:
# Merge order_items with orders to get order status/dates
order_items_orders = pd.merge(df_items, df_orders, on='order_id', how='left')

# Total number of items per seller
seller_kpi = df_items.groupby('seller_id').agg(
    total_items=('order_id', 'count'),
    unique_orders=('order_id', 'nunique')
).reset_index()

In [15]:
order_items_orders

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00

In [42]:
# Count how many unique sellers each order has
items_per_order = df_items.groupby('order_id')['seller_id'].nunique().reset_index(name='unique_seller_count')
items_per_order.head()

                           order_id  unique_seller_count
0  00010242fe8c5a6d1ba2dd792cb16214                    1
1  00018f77f2f0320c557190d7a144bdd3                    1
2  000229ec398224ef6ca0657da4fc703e                    1
3  00024acbcdf0a6daa1e931b038114c75                    1
4  00042b26cf59d7ce69dfabb4e55b4fd9                    1

In [52]:
# Get only orders with multiple sellers
multiple_sellers_orders = items_per_order[items_per_order['unique_seller_count'] > 1]
multiple_sellers_orders = multiple_sellers_orders.sort_values(by='unique_seller_count', ascending=False)
multiple_sellers_orders

                               order_id  unique_seller_count
10831  1c11d0f4353b31ac3417fbfa5f0f2a8a                    5
79967  cf5c8d9f52807cb2d2f0a0ff54c478da                    5
53796  8c2b13adf3f377c8f2b06b04321b0925                    4
55847  91be51c856a90d7efe86cf9d082d6ae3                    4
11231  1d23106803c48c391366ff224513fb7f                    4
...                                 ...                  ...
34353  5943920d752512f211b074b874e73526                    2
34273  591083bc42b589c7052118aa83118e76                    2
34216  58e03095584d960583933517a2aae5df                    2
34177  58c4df4904044782bb1361c5cb001538                    2
49455  808fbd7ff181351baf5d9ececab82258                    2

[1278 rows x 2 columns]

In [51]:
# Print an example of an order with multiple sellers
example_order_id = multiple_sellers_orders['order_id'].iloc[0]
example_order = order_items_orders[order_items_orders['order_id'] == example_order_id]
example_order

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
12378,1c11d0f4353b31ac3417fbfa5f0f2a8a,1,d64738c7b2e2d1778a51e835d8f02568,609e1a9a6c2539919b8205cf7c4e6ff0,2018-02-02 11:31:03,43.90,12.77,50920f8cd0681fd86ebe93670c8fe52e,delivered,2018-01-27 11:28:32,2018-01-29 11:35:23,2018-01-29 21:52:41,2018-02-16 16:26:53,2018-03-05 00:00:00
12379,1c11d0f4353b31ac3417fbfa5f0f2a8a,2,a3a10562c9d134b92f04b8cce298d037,822166ed1e47908f7cfb49946d03c726,2018-02-02 11:31:03,22.49,25.54,50920f8cd0681fd86ebe93670c8fe52e,delivered,2018-01-27 11:28:32,2018-01-29 11:35:23,2018-01-29 21:52:41,2018-02-16 16:26:53,2018-03-05 00:00:00
12380,1c11d0f4353b31ac3417fbfa5f0f2a8a,3,d80fce9f775927c7d602c2de926759f1,747c1cdcd1737dcfbd1547f6eb6f2cf3,2018-02-02 11:31:03,88.00,12.77,50920f8cd0681fd86ebe93670c8fe52e,delivered,2018-01-27 11:28:32,2018-01-29 11:35:23,2018-01-29 21:52:41,2018-02-16 16:26:53,2018-03-05 00:00:00
12381,1c11d0f4353b31ac3417fbfa5f0f2a8a,4,ddbf57e4559f03c003fc3708d4860c5e,1835b56ce799e6a4dc4eddc053f04066,2018-02-02 11:31:03,29.99,12.77,50920f8cd0681fd86ebe93670c8fe52e,delivered,2018-01-27 11:28:32,2018-01-29 11:35:23,2018-01-29 21:52:41,2018-02-16 16:26:53,2018-03-05 00:00:00
12382,1c11d0f4353b31ac3417fbfa5f0f2a8a,5,a3a10562c9d134b92f04b8cce298d037,822166ed1e47908f7cfb49946d03c726,2018-02-02 11:31:03,22.49,25.54,50920f8cd0681fd86ebe93670c8fe52e,delivered,2018-01-27 11:28:32,2018-01-29 11:35:23,2018-01-29 21:52:41,2018-02-16 16:26:53,2018-03-05 00:00:00
12383,1c11d0f4353b31ac3417fbfa5f0f2a8a,6,d3a386ad58b99f0ddcc216ed9efb03c3,609e1a9a6c2539919b8205cf7c4e6ff0,2018-02-02 11:31:03,43.90,12.77,50920f8cd0681fd86ebe93670c8fe52e,delivered,2018-01-27 11:28:32,2018-01-29 11:35:23,2018-01-29 21:52:41,2018-02-16 16:26:53,2018-03-05 00:00:00
12384,1c11d0f4353b31ac3417fbfa5f0f2a8a,7,61b6e5d2e3ee58d2b341b8ef1a652b26,c7fdb77fdbff3c41981bc52f787e959e,2018-02-02 11:31:03,56.00,12.77,50920f8cd0681fd86ebe93670c8fe52e,delivered,2018-01-27 11:28:32,2018-01-29 11:35:23,2018-01-29 21:52:41,2018-02-16 16:26:53,2018-03-05 00:00:00

In [53]:
# Print an example of an order with multiple sellers
example_order_id = multiple_sellers_orders['order_id'].iloc[10]
example_order = order_items_orders[order_items_orders['order_id'] == example_order_id]
example_order

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
102525,e8c92cfd87f5f0c6d2fc5bc1df5f02b4,1,ec56aff88e030dcb3b2be22c96ace90a,609e1a9a6c2539919b8205cf7c4e6ff0,2018-06-12 19:30:05,19.90,15.41,3d338ae6cd95dcb8c0c14d9af90055f3,delivered,2018-06-04 19:07:48,2018-06-04 19:30:05,2018-06-05 14:34:00,2018-06-11 17:37:49,2018-07-16 00:00:00
102526,e8c92cfd87f5f0c6d2fc5bc1df5f02b4,2,9fab8bd1f9c69cf2301b8ad3bec47480,dfa0c4c6229ab200a4a1336b4d7128ff,2018-06-08 19:30:05,39.00,15.40,3d338ae6cd95dcb8c0c14d9af90055f3,delivered,2018-06-04 19:07:48,2018-06-04 19:30:05,2018-06-05 14:34:00,2018-06-11 17:37:49,2018-07-16 00:00:00
102527,e8c92cfd87f5f0c6d2fc5bc1df5f02b4,3,08056d78bb75ed3ace107c72c16ec511,3d4824f20035949c710eaf111f869d39,2018-06-12 19:30:05,117.27,17.82,3d338ae6cd95dcb8c0c14d9af90055f3,delivered,2018-06-04 19:07:48,2018-06-04 19:30:05,2018-06-05 14:34:00,2018-06-11 17:37:49,2018-07-16 00:00:00

In [55]:
# Print an example of an order with multiple sellers
example_order_id = multiple_sellers_orders['order_id'].iloc[3]
example_order = order_items_orders[order_items_orders['order_id'] == example_order_id]
example_order

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
63809,91be51c856a90d7efe86cf9d082d6ae3,1,73bcea4312cb31d72bffc6562f7f7c71,da7039f29f90ce5b4846ffc0fcc93beb,2018-06-14 16:30:57,122.90,19.17,637321037fb8b34323ce7fd8aab4a0f1,delivered,2018-06-12 15:58:03,2018-06-12 16:32:26,2018-06-12 15:44:00,2018-06-15 15:42:07,2018-07-12 00:00:00
63810,91be51c856a90d7efe86cf9d082d6ae3,2,96627b65a0070635b620d07f97e63347,fcb5ace8bcc92f75707dc0f01a27d269,2018-06-19 16:30:57,76.65,19.17,637321037fb8b34323ce7fd8aab4a0f1,delivered,2018-06-12 15:58:03,2018-06-12 16:32:26,2018-06-12 15:44:00,2018-06-15 15:42:07,2018-07-12 00:00:00
63811,91be51c856a90d7efe86cf9d082d6ae3,3,b7351032045cba592a6d97b36f5fd8e3,ce69a8021d18961dd2a40269b7c2c293,2018-06-18 16:30:57,99.99,19.16,637321037fb8b34323ce7fd8aab4a0f1,delivered,2018-06-12 15:58:03,2018-06-12 16:32:26,2018-06-12 15:44:00,2018-06-15 15:42:07,2018-07-12 00:00:00
63812,91be51c856a90d7efe86cf9d082d6ae3,4,ae3e0cf8b9e4a3a027fc5d4b0a3eb2a0,596849622429351f47b32e6cae1055ff,2018-06-18 16:30:57,39.90,0.96,637321037fb8b34323ce7fd8aab4a0f1,delivered,2018-06-12 15:58:03,2018-06-12 16:32:26,2018-06-12 15:44:00,2018-06-15 15:42:07,2018-07-12 00:00:00

So, it seems like Olist manages everything even up to shipping. The sellers will be given different shipping limit date so the customer will receive the exact same delivery time even if the items belong to different sellers from different locations. This makes me wonder if the additional platform (e.g. Shopee, Amazon) have any effect at all.

## **Why do the delivery deadlines and other dates look almost the same for all items in one order, even with different sellers?**

### **1. How Olist Handles Shipping and Deadlines**

* **Olist is a marketplace aggregator:**
  Olist itself acts as the front-facing platform, and manages the entire order workflow, including logistics.

  * **Customers** place *one* order (even if buying from many sellers).
  * **Sellers** ship to the customer, but **Olist controls the order deadlines, shipping instructions, and (often) the logistics providers**.

* **Unified Shipping Deadlines:**
  For a better customer experience, Olist (like most large marketplaces) gives a **single promised delivery window** for the entire order—even if the products are coming from different sellers.

  * The `order_estimated_delivery_date`, `order_delivered_customer_date`, etc., are shown as the same for all items in one order, so that **the customer always knows one deadline**.
  * The **shipping\_limit\_date** (per item) is Olist’s internal deadline for the seller to hand over the package to the shipping provider (or Olist’s logistics partner). This can vary slightly between items (because of product, seller location, or fulfillment type), but often Olist makes them similar to coordinate all items.

* **If locations are far apart:**
  Olist sets the deadline based on the **seller with the longest required delivery time**. This way, all items should ideally arrive by the same date for the customer.

  * In practice, some items might arrive earlier or later, but Olist aims to manage customer expectations by giving a single estimate.

### **2. Real-World Analogy**

* Imagine ordering a phone and a t-shirt on Tokopedia or Shopee from two different shops, but choosing “Ongkir Reguler” (standard shipping) for the whole cart.
* The platform promises: “Your order will arrive between July 7-10.”
* Each seller gets a **shipping deadline**: “Ship out by July 3.”
* The **platform calculates these deadlines for each item**, but tries to synchronize them so you get everything together (or close).

### **3. What if a seller ships late or is far away?**

* Olist will penalize or warn sellers who don’t ship by their **shipping\_limit\_date** (this is why that date exists for each item).
* If a seller’s location is far, the `shipping_limit_date` is set earlier, to ensure all items arrive by the customer’s promised delivery date.

### **4. Why does `order_delivered_carrier_date` always look the same for all items?**

* That field is **copied from the orders table** when you do a merge, so all items inherit the same value.
* It refers to when the carrier received the *last* item of the order, or when Olist considers the order as “shipped.”

### **5. Why are some `shipping_limit_date` values slightly different?**

* Sometimes, Olist allows a little variation based on product, seller rating, or warehouse location. For example, in Output 2, one item's limit is 4 days earlier—maybe that seller is known to be slower, or the product is a “preorder.”

---

## **What does this mean for your analysis?**

* **For most customers, they experience “one shipping and delivery promise”** per order, no matter how many sellers are involved.
* **For operational or seller performance analytics,** you MUST use `shipping_limit_date` and track it *per item/seller*. That’s the true measure of each seller’s performance.
* **If you want to analyze lateness or SLA violations,** compare `shipping_limit_date` (per item) with the actual handover/delivery dates (if available in your data).

---

### **Business Best Practices (what you can learn and mention in your project):**

* Marketplaces unify delivery promises for customer convenience.
* Internally, each seller is tracked with item-level deadlines, so the platform can enforce standards.
* Coordinating shipping across multiple sellers is logistically complex and a key competitive differentiator.

---

### **Summary Table**

| Field                           | Level      | Who sees/uses it?  | Meaning                                          |
| ------------------------------- | ---------- | ------------------ | ------------------------------------------------ |
| `order_estimated_delivery_date` | Order      | Customer, Platform | When the whole order *should* arrive             |
| `order_delivered_customer_date` | Order      | Customer, Platform | When the whole order *did* arrive                |
| `shipping_limit_date`           | Order Item | Platform, Seller   | Seller’s deadline to ship out that specific item |

---

### **If you want to check seller location effects:**

* You can join `order_items` with the `sellers` and `geolocation` tables and **visualize delivery times by seller state/city**.
* If you see many orders with very different seller locations but the same delivery date, that's Olist’s orchestration in action!